<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.farms.persistence.v1.dao.mybatis.mapper.FairMarketValueMapper">

    <resultMap id="FairMarketValueResultDtoMap" type="ca.bc.gov.farms.persistence.v1.dto.FairMarketValueDto">
        <id property="fairMarketValueId" column="fair_market_value_id" javaType="java.lang.String" jdbcType="VARCHAR" />

        <result property="programYear" column="program_year" javaType="java.lang.Integer" jdbcType="NUMERIC" />
        <result property="inventoryItemCode" column="inventory_item_code" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="inventoryItemDesc" column="inventory_item_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="municipalityCode" column="municipality_code" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="municipalityDesc" column="municipality_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="cropUnitCode" column="crop_unit_code" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="cropUnitDesc" column="crop_unit_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="defaultCropUnitCode" column="default_crop_unit_code" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="defaultCropUnitDesc" column="default_crop_unit_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="period01Price" column="period_01_price" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period02Price" column="period_02_price" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period03Price" column="period_03_price" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period04Price" column="period_04_price" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period05Price" column="period_05_price" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period06Price" column="period_06_price" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period07Price" column="period_07_price" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period08Price" column="period_08_price" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period09Price" column="period_09_price" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period10Price" column="period_10_price" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period11Price" column="period_11_price" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period12Price" column="period_12_price" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period01Variance" column="period_01_variance" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period02Variance" column="period_02_variance" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period03Variance" column="period_03_variance" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period04Variance" column="period_04_variance" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period05Variance" column="period_05_variance" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period06Variance" column="period_06_variance" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period07Variance" column="period_07_variance" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period08Variance" column="period_08_variance" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period09Variance" column="period_09_variance" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period10Variance" column="period_10_variance" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period11Variance" column="period_11_variance" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="period12Variance" column="period_12_variance" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="urlId" column="url_id" javaType="java.lang.Long" jdbcType="BIGINT" />
        <result property="url" column="url" javaType="java.lang.String" jdbcType="VARCHAR" />

        <result property="revisionCount" column="revision_count" javaType="java.lang.Integer" jdbcType="NUMERIC" />
        <result property="createUser" column="who_created" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="createDate" column="when_created" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <result property="updateUser" column="who_updated" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="updateDate" column="when_updated" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="selectColumns">
        select apt.group_id as fair_market_value_id,
               split_part(apt.group_id, '_', 1)::numeric as program_year,
               iic.inventory_item_code,
               iic.description as inventory_item_desc,
               mc.municipality_code,
               mc.description as municipality_desc,
               cuc.crop_unit_code,
               cuc.description as crop_unit_desc,
               cudc.crop_unit_code as default_crop_unit_code,
               cudc.description as default_crop_unit_desc,
               apt.period_01_price,
               apt.period_02_price,
               apt.period_03_price,
               apt.period_04_price,
               apt.period_05_price,
               apt.period_06_price,
               apt.period_07_price,
               apt.period_08_price,
               apt.period_09_price,
               apt.period_10_price,
               apt.period_11_price,
               apt.period_12_price,
               pvt.period_01_variance,
               pvt.period_02_variance,
               pvt.period_03_variance,
               pvt.period_04_variance,
               pvt.period_05_variance,
               pvt.period_06_variance,
               pvt.period_07_variance,
               pvt.period_08_variance,
               pvt.period_09_variance,
               pvt.period_10_variance,
               pvt.period_11_variance,
               pvt.period_12_variance,
               t.url_id,
               t.url
    </sql>

    <sql id="fromClause">
        from crosstab($$
            select fmv.program_year || '_' ||
                fmv.inventory_item_code || '_' ||
                fmv.municipality_code || '_' ||
                fmv.crop_unit_code as group_id,
                'period_' || to_char(period, '00') || '_price' as period_str,
                fmv.average_price
            from farms.farm_fair_market_values fmv
            where fmv.program_year = ${programYear}
            order by 1, 2
        $$)
        as apt(group_id text,
               "period_01_price" numeric,
               "period_02_price" numeric,
               "period_03_price" numeric,
               "period_04_price" numeric,
               "period_05_price" numeric,
               "period_06_price" numeric,
               "period_07_price" numeric,
               "period_08_price" numeric,
               "period_09_price" numeric,
               "period_10_price" numeric,
               "period_11_price" numeric,
               "period_12_price" numeric)
        join crosstab($$
            select fmv.program_year || '_' ||
                fmv.inventory_item_code || '_' ||
                fmv.municipality_code || '_' ||
                fmv.crop_unit_code as group_id,
                'period_' || to_char(period, '00') || '_variance' as period_str,
                fmv.percent_variance
            from farms.farm_fair_market_values fmv
            where fmv.program_year = ${programYear}
            order by 1, 2
        $$)
        as pvt(group_id text,
               "period_01_variance" numeric,
               "period_02_variance" numeric,
               "period_03_variance" numeric,
               "period_04_variance" numeric,
               "period_05_variance" numeric,
               "period_06_variance" numeric,
               "period_07_variance" numeric,
               "period_08_variance" numeric,
               "period_09_variance" numeric,
               "period_10_variance" numeric,
               "period_11_variance" numeric,
               "period_12_variance" numeric) on apt.group_id = pvt.group_id
        join farms.farm_inventory_item_codes iic on split_part(apt.group_id, '_', 2) = iic.inventory_item_code
        join farms.farm_municipality_codes mc on split_part(apt.group_id, '_', 3) = mc.municipality_code
        join farms.farm_crop_unit_codes cuc on split_part(apt.group_id, '_', 4) = cuc.crop_unit_code
        left join farms.farm_crop_unit_defaults cud using (inventory_item_code)
        left join farms.farm_crop_unit_codes cudc on cud.crop_unit_code = cudc.crop_unit_code
        left join (
            select distinct on (fmv.inventory_item_code, fmv.municipality_code, fmv.crop_unit_code)
                   u.url_id,
                   u.url,
                   fmv.inventory_item_code,
                   fmv.municipality_code,
                   fmv.crop_unit_code
            from farms.farm_fair_market_values fmv
            left join farms.farm_urls u using (url_id)
            where fmv.program_year = ${programYear}
            order by fmv.inventory_item_code,
                     fmv.municipality_code,
                     fmv.crop_unit_code,
                     fmv.period
        ) t on t.inventory_item_code = iic.inventory_item_code
            and t.municipality_code = mc.municipality_code
            and t.crop_unit_code = cuc.crop_unit_code
    </sql>

    <select id="fetch" resultMap="FairMarketValueResultDtoMap">
        <include refid="selectColumns"/>
        <include refid="fromClause"/>
        where apt.group_id = #{fairMarketValueId}
    </select>

    <select id="fetchByProgramYear" resultMap="FairMarketValueResultDtoMap">
        <include refid="selectColumns"/>
        <include refid="fromClause"/>
        order by lower(iic.description),
                 lower(mc.description),
                 lower(cuc.description)
    </select>

    <select id="fetchBy" resultMap="FairMarketValueResultDtoMap">
        <include refid="selectColumns"/>
        <include refid="fromClause"/>
        where iic.inventory_item_code = #{inventoryItemCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}
        and mc.municipality_code = #{municipalityCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}
        and cuc.crop_unit_code = #{cropUnitCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}
        order by lower(iic.description),
                 lower(mc.description),
                 lower(cuc.description)
    </select>

    <insert id="insertFairMarketValue">
        <selectKey keyProperty="fairMarketValueId" resultType="java.lang.Long" order="BEFORE">
            select nextval('farms.farm_fmv_seq')
        </selectKey>
        insert into farms.farm_fair_market_values (
            fair_market_value_id,
            program_year,
            period,
            average_price,
            percent_variance,
            expiry_date,
            inventory_item_code,
            municipality_code,
            crop_unit_code,
            url_id,
            revision_count,
            who_created,
            when_created,
            who_updated,
            when_updated
        ) values (
            #{fairMarketValueId},
            #{dto.programYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
            #{period, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
            #{averagePrice, javaType=java.math.BigDecimal, jdbcType=NUMERIC, mode=IN},
            #{percentVariance, javaType=java.math.BigDecimal, jdbcType=NUMERIC, mode=IN},
            null,
            #{dto.inventoryItemCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
            #{dto.municipalityCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
            #{dto.cropUnitCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
            (
                select u.url_id
                from farms.farm_urls u
                where u.url_id = #{dto.urlId, javaType=java.lang.Long, jdbcType=BIGINT, mode=IN}
            ),
            1,
            #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
            now(),
            #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
            now()
        )
    </insert>

    <update id="updateFairMarketValue">
        update farms.farm_fair_market_values
        set average_price = #{averagePrice, javaType=java.math.BigDecimal, jdbcType=NUMERIC, mode=IN},
            percent_variance = #{percentVariance, javaType=java.math.BigDecimal, jdbcType=NUMERIC, mode=IN},
            url_id = (
                select u.url_id
                from farms.farm_urls u
                where u.url_id = #{dto.urlId, javaType=java.lang.Long, jdbcType=BIGINT, mode=IN}
            ),
            revision_count = revision_count + 1,
            who_updated = #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
            when_updated = now()
        where program_year || '_' ||
              inventory_item_code || '_' ||
              municipality_code || '_' ||
              crop_unit_code = #{fairMarketValueId}
        and period = #{period, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}
    </update>

    <delete id="deleteFairMarketValue">
        delete from farms.farm_fair_market_values
        where program_year || '_' ||
              inventory_item_code || '_' ||
              municipality_code || '_' ||
              crop_unit_code = #{fairMarketValueId}
    </delete>
</mapper>