<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.farms.persistence.v1.dao.mybatis.mapper.FruitVegTypeDetailMapper">

    <resultMap id="FruitVegTypeDetailDtoMap" type="ca.bc.gov.farms.persistence.v1.dto.FruitVegTypeDetailDto">
        <id property="fruitVegTypeDetailId" column="fruit_veg_type_detail_id" javaType="java.lang.Long" jdbcType="BIGINT" />

        <result property="revenueVarianceLimit" column="revenue_variance_limit" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="fruitVegTypeCode" column="fruit_veg_type_code" javaType="java.lang.String" jdbcType="VARCHAR" />

        <result property="revisionCount" column="revision_count" javaType="java.lang.Integer" jdbcType="NUMERIC" />
        <result property="createUser" column="who_created" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="createDate" column="when_created" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <result property="updateUser" column="who_updated" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="updateDate" column="when_updated" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="selectColumns">
        select fvtd.fruit_veg_type_detail_id,
               fvtd.revenue_variance_limit,
               fvtd.fruit_veg_type_code,
               fvtd.revision_count,
               fvtd.who_created,
               fvtd.when_created,
               fvtd.who_updated,
               fvtd.when_updated
    </sql>

    <sql id="fromClause">
        from farms.farm_fruit_veg_type_details fvtd
    </sql>

    <select id="fetch" resultMap="FruitVegTypeDetailDtoMap">
        <include refid="selectColumns"/>
        <include refid="fromClause"/>
        where fvtd.fruit_veg_type_detail_id = #{fruitVegTypeDetailId}
    </select>

    <select id="fetchAll" resultMap="FruitVegTypeDetailDtoMap">
        <include refid="selectColumns"/>
        <include refid="fromClause"/>
    </select>

    <insert id="insertFruitVegTypeDetail">
        <selectKey keyProperty="fruitVegTypeDetailId" resultType="java.lang.Long" order="BEFORE">
            select nextval('farms.farm_fvtd_seq')
        </selectKey>
        insert into farms.farm_fruit_veg_type_details (
            fruit_veg_type_detail_id,
            revenue_variance_limit,
            fruit_veg_type_code,
            revision_count,
            who_created,
            when_created,
            who_updated,
            when_updated
        ) values (
            #{fruitVegTypeDetailId},
            #{dto.revenueVarianceLimit, javaType=java.math.BigDecimal, jdbcType=NUMERIC, mode=IN},
            #{dto.fruitVegTypeCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
            1,
            #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
            now(),
            #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
            now()
        )
    </insert>

    <update id="updateFruitVegTypeDetail">
        update farms.farm_fruit_veg_type_details
        set revenue_variance_limit = #{dto.revenueVarianceLimit, javaType=java.math.BigDecimal, jdbcType=NUMERIC, mode=IN},
            fruit_veg_type_code = #{dto.fruitVegTypeCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
            revision_count = revision_count + 1,
            who_updated = #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
            when_updated = now()
        where fruit_veg_type_detail_id = #{dto.fruitVegTypeDetailId, javaType=java.lang.Long, jdbcType=BIGINT, mode=IN}
    </update>

    <delete id="deleteFruitVegTypeDetail">
        delete from farms.farm_fruit_veg_type_details
        where fruit_veg_type_detail_id = #{fruitVegTypeDetailId, javaType=java.lang.Long, jdbcType=BIGINT, mode=IN}
    </delete>
</mapper>