<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.farms.persistence.v1.dao.mybatis.mapper.ImportBPUMapper">

    <insert id="insertStagingRow">
        {
            call farms_bpu_pkg.insert_staging_row(
                #{dto.lineNumber, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
                #{dto.programYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
                #{dto.municipalityCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
                #{dto.inventoryItemCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
                #{dto.unitComment, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
                #{dto.yearMinus6Margin, javaType=java.math.BigDecimal, jdbcType=NUMERIC, mode=IN},
                #{dto.yearMinus5Margin, javaType=java.math.BigDecimal, jdbcType=NUMERIC, mode=IN},
                #{dto.yearMinus4Margin, javaType=java.math.BigDecimal, jdbcType=NUMERIC, mode=IN},
                #{dto.yearMinus3Margin, javaType=java.math.BigDecimal, jdbcType=NUMERIC, mode=IN},
                #{dto.yearMinus2Margin, javaType=java.math.BigDecimal, jdbcType=NUMERIC, mode=IN},
                #{dto.yearMinus1Margin, javaType=java.math.BigDecimal, jdbcType=NUMERIC, mode=IN},
                #{dto.yearMinus6Expense, javaType=java.math.BigDecimal, jdbcType=NUMERIC, mode=IN},
                #{dto.yearMinus5Expense, javaType=java.math.BigDecimal, jdbcType=NUMERIC, mode=IN},
                #{dto.yearMinus4Expense, javaType=java.math.BigDecimal, jdbcType=NUMERIC, mode=IN},
                #{dto.yearMinus3Expense, javaType=java.math.BigDecimal, jdbcType=NUMERIC, mode=IN},
                #{dto.yearMinus2Expense, javaType=java.math.BigDecimal, jdbcType=NUMERIC, mode=IN},
                #{dto.yearMinus1Expense, javaType=java.math.BigDecimal, jdbcType=NUMERIC, mode=IN},
                #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}
            )
        }
    </insert>

    <delete id="clearStaging">
        {
            call farms_bpu_pkg.clear_staging()
        }
    </delete>
</mapper>