<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.farms.persistence.v1.dao.mybatis.mapper.VersionMapper">

    <insert id="createVersion">
        select farms_version_pkg.create_version(
            #{description, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
            #{importFileName, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
            #{user, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}
        )
    </insert>
</mapper>